@import "tailwindcss";
@plugin "daisyui";

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* dark mode looking scrollbar */
@layer base {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #555;
  }

  ::-webkit-scrollbar-thumb {
    background: #121212;
    border-radius: 4px; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #242424;
  }
}
